header {
  background-color: var(--base-color);
  display: grid;
  grid-template-columns: 1fr 550px 1fr;
  align-items: center;
  padding: 0rem 2rem;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  border-bottom: 1px solid var(--primary-text-color);
  z-index: 999;
}

header ul {
  display: flex;
  gap: 1px;
}

header ul li {
  flex: 1;
  text-align: center;
}

.logo {
  justify-self: start;
}

.logo > img {
  width: 100px;
}

.toggle-dn {
  justify-self: end;
  cursor: pointer;
}

.themeCircle {
  position: fixed;
  top: 50%;
  left: 50%;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  pointer-events: none;
  transform: translate(-50%, -50%) scale(0);
  transition: transform 0.8s ease-out;
  z-index: 9999;
  background-color: #191818;
}

.themeCircleDark {
  background-color: #0a0a0a;
}

.themeCircleLight {
  background-color: #ffffff;
}

.themeCircleExpand {
  transform: translate(-50%, -50%) scale(120);
}

.themeCircleShrink {
  transform: translate(-50%, -50%) scale(0);
}
