header {
  display: grid;
  grid-template-columns: 1fr 600px 1fr;
  align-items: center;
  padding: 0rem 2rem;
}

header ul {
  display: flex;
  gap: 1px;
}

header ul li {
  flex: 1;
  text-align: center;
}

.logo {
  justify-self: start;
}

.logo > img {
  width: 100px;
}

.toggle-dn {
  justify-self: end;
}
