main {
  align-self: center;
  justify-self: center;
  /* DEBUG */
  border: 1px solid black;
}

.hero {
  height: 100%;
  max-width: 1140px;
  display: grid;
  grid-template-rows: auto 1fr auto;
  justify-content: center;
}

.hero-top,
.hero-img,
.hero-bot {
  text-align: center;
  /* DEBUG */
  border: 1px solid black;
}

.hero h2 {
  font-size: 70px;
}

.hero-img {
  width: 500px;
  justify-self: center;
}
