main {
  align-self: center;
  justify-self: center;
  display: grid;
  grid-template-columns: 1fr;
  grid-auto-rows: 100vh;
  justify-content: center;
  align-items: center;
  row-gap: 4rem;
}

.hero {
  /* height: 100%; */
  max-width: 1600px;
  display: grid;
  grid-template-columns: 1fr 1.5fr;
  /* align-items: center; */
  /* box-shadow: 0 0 15px grey; */
  /* border-radius: 20px; */
  scroll-snap-align: start;
  place-items: center;
  padding: 2rem;
  z-index: 10;
}

.hero-top,
.hero-img,
.hero-bot {
  text-align: center;
}

.hero h1 {
  font-size: 90px;
}

.hero h2 {
  font-size: 70px;
  margin-block: 10px;
  color: var(--secondary-text-color);
}

.hero p {
  font-size: 35px;
  font-family: monospace;
  font-weight: 300;
}

.hero-img {
  grid-column: 1 / 2;
  grid-row: 1 / 2;
  width: 100%;
  max-width: 550px;
  justify-self: center;
}

.hero-top {
  grid-column: 2 / 2;
  grid-row: 1 / 2;
  text-align: left;
}
