main {
  align-self: center;
  justify-self: center;
  /* DEBUG */
  border: 1px solid black;
}

.hero {
  height: 100%;
  max-width: 1280px;
  display: grid;
  grid-template-rows: auto 1fr auto;
  justify-content: center;
}

.hero-top,
.hero-img,
.hero-bot {
  text-align: center;
  /* DEBUG */
  border: 1px solid black;
}

.hero h2 {
  font-size: 90px;
}

.hero-img {
  width: 1000px;
  justify-self: center;
}

.hero-bot {
  color: rgb(128, 128, 128);
}
