:root {
  --base-color: white;
  --primary-text-color: black;
  --secondary-text-color: grey;
}

.darkmode {
  --base-color: black;
  --primary-text-color: white;
  --secondary-text-color: grey;
}

#root {
  min-height: 100vh;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto 1fr auto;
  grid-template-areas:
    "header"
    "main"
    "footer";
}

html{
  scroll-behavior: smooth;
}

body {
  font-family: "Boldonse", system-ui;
  font-weight: 400;
  font-style: normal;
  background-color: var(--base-color);
  transition: 0.3s ease, color 0.3s ease;
}

header {
  grid-area: header;
}

main {
  grid-area: main;
}

footer {
  grid-area: footer;
}
