@layer reset {
  *,
  *::before,
  *::after {
    box-sizing: border-box;
  }

  * {
    margin: 0;
    padding: 0;
  }

  body {
    line-height: 1.5;
  }

  a {
    text-decoration: none;
    color: var(--primary-text-color);
  }

  a:hover {
    color: var(--secondary-text-color);
  }

  img,
  picture,
  video,
  canvas,
  svg {
    display: block;
    max-inline-size: 100%;
  }

  input,
  button,
  textarea,
  select {
    font: inherit;
    letter-spacing: inherit;
    word-spacing: inherit;
    color: currentColor;
  }

  p,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    overflow-wrap: break-word;
    color: var(--primary-text-color);
  }

  ol,
  ul {
    list-style: none;
  }

  :not([class]) {
    h1&,
    h2&,
    h3&,
    h4&,
    h5&,
    h6& {
      margin-block: 0.75em;
      line-height: 1.25;
      text-wrap: balance;
      letter-spacing: 0.02ch;
    }

    li& {
      margin-block: 0.5em;
    }
  }
}
